/* Add your own style here */
/* general */
.custom-disable-img-margin { }
.custom-disable-a-effect { }
.custom-disable-p-align { }

/* about */
.custom-about-skill-img img {
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 5rem;
}

.custom-about-title:after {
    content: "";
    display: block;
    border-bottom: 3px solid lighten($brand-color, 10%);
    width: 10%;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

/* category */
.custom-category-head {
    display: inline;
}

.custom-category-more {
    padding: 0px 10px;
    border: 1px solid #eee;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    display: inline-block;
    color: #83ce2c;
}

.custom-category-more:hover {    
    background-color: #f1f1f1;
    color: $color;
}

/* post */
.custom-align-center-img {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
}

.custom-align-center-img:last-child {
    display: block;
    margin: 1em auto;
}

.custom-caption {
    color: gray;
    font-size: 80%;
    text-align: center;
    display: block;
}

.custom-align-center-p {
    text-align: center;
}

/* portfolio  */
.custom-portfolio-title {
    text-align: center;
    margin-bottom: 1rem;
}

.custom-portfolio-title:after {
    content: "";
    display: block;
    border-bottom: 3px solid lighten($brand-color, 10%);
    width: 50%;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

.custom-portfolio-summary {
    font-size: 0.9rem;
    display: block;
    width: auto;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.custom-portfolio-summary td:first-child {
    text-align: center;
    color: $brand-color;
}

.custom-portfolio-summary tr {
    border-top: none;
    border-bottom: 1px solid #cceca7;;
}

.custom-portfolio-summary tr td {
    padding: 6px 6px;
    border: none;
}
