---
layout: page
title: Portfolio
permalink: /portfolio/
category_index: 0
---

<div class="col-lg-8">
  {% for category in site.data.portfolio %}
    <div class="archive-group rev">
      <a name="{{ category.category | slugify }}"></a>
      <div class="row">
        <h3 class="category-head custom-category-head">{{ category.category }}</h3>
      </div>
      <div>
        {% for project in category.projects %}
          {% include project.html %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
