{% for category in site.data.portfolio %}
  {% for project in category.projects %}
    {% if project.title == page.title %}
      {% assign current_category = category.category %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if current_category %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<ul class="breadcrumbs">
  <li><a href="{{'/' | relative_url}}">Home</a></li>
  {% for crumb in crumbs offset: 1 %}
    {% assign category_index = forloop.length | minus: 1 %}
    {% if forloop.last %}
      <li><a href="#">{{ page.title | truncate: 20 }}</a></li>
    {% elsif forloop.index == category_index %}
      <li><a href="{{site.baseurl}}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{% if forloop.last %}{{ crumb }}{% else %}{{ crumb | append: '/' }}{% endif %}{% endfor %}">
        {% if current_category %}
          {{ current_category }}
        {% else %}
          {{ crumb | replace:'-',' ' | remove:'.html' | replace: '-', ' ' }}
        {% endif %}
      </a></li>
    {% else %}
      <li><a href="{{site.baseurl}}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
