<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/intro/software_engineering.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Theory to Reality</p>
          <h1>Software engineering</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/intro/industrial_network.jpg' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>Embedded</p>
          <h1>Industrial networks</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/intro/game_programming.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Applications</p>
          <h1>Game programming</h1>
        </div>
      </div>
    </div>
  </div>
</section>